@use '../abstracts/index' as *;

.intro {
    margin-top: 50px;
    position: relative;
    @media screen and (min-width: $screen-lg) {
        margin-top: 0;
        max-height: 100vh;
    }

    &__banner-container {
        @include d-flex(flex-start, center);
        width: 100%;
        height: fit-content;
        overflow: hidden;
        clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
        @media screen and (min-width: $screen-lg) {
            max-height: 110vh;
        }
    }

    &__banner-img {
        transform: scale(1.1);
        @media screen and (orientation: portrait) {
            height: 60vh;
            width: auto;
        }
    }

    &__title-container {
        padding: 0 $spacing-lg;
        margin: 7vh 0;
        text-align: center;
        color: $main-dark;
        @media screen and (min-width: $screen-md) {
            position: absolute;
            right: $spacing-sm;
            top: 50%;
            transform: translateY(-50%);
            padding: 0;
            margin: 0;
            text-align: left;
            max-width: 50%;
        }
    }

    &__title {
        margin-bottom: .4em;
    }

    &__subtitle {
        opacity: .6;
    }
}