@use '../abstracts/index' as *;

.slider {
    &__controls {
        @include d-flex(center, center);
    }

    &__btn {
        @include d-flex(center, center);
        background-color: $highlight-orange;
        height: 70px;
        width: 70px;
        transition: background-color .25s ease-out;

        &[id$='prev']{
            transform: rotate(180deg);
        }

        &:hover {
            background-color: darken($highlight-orange, 5%);
        }
    }

    &__arrow-icon {
        width: 30px;
        height: auto;
    }
}