//-------------- COLORS --------------//

$main-dark: #1A1A1A;
$main-light: #FFFF;
$mid-gray: #ABABAB;
$light-gray: #F8F8F8;
$highlight-orange: #FF8853;

//-------------- BREAKPOINTS --------------//

$screen-sm: 30rem; //480px
$screen-md: 48rem; //768px
$screen-lg: 67.5rem; //1080px
$screen-xl: 80rem; //1280px
$screen-xxl: 123.75rem; //1980px

//-------------- LAYOUT --------------//

$outer-spacing-sm: 1.3rem; //20
// $outer-spacing-md: 2.2rem; //35
// $outer-spacing-lg: 3.5rem; //56

@mixin d-flex($a, $j) {
    display: flex;
    align-items: $a;
    justify-content: $j;
}