@use './sections/header';
@use './sections/intro';
@use './sections/events';
@use './sections/about';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    outline: none;

    &:hover {
        cursor: pointer;
    }
}

section:not(.intro) {
    margin-bottom: 15vh;
}
