@use './sections/header';
@use './sections/intro';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    outline: none;

    &:hover {
        cursor: pointer;
    }
}

