<section class="about" id="about">
    <div class="about__container">
        <div class="about__article">
            <h2 class="about__title">Lorem ipsum <br> dolor <span class="highlight">sit amet</span><br> consectetur</h2>
            <p class="about__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum deserunt nostrum
                debitis odit iusto maiores reprehenderit eveniet a ipsam optio quo inventore praesentium doloremque,
                iste omnis aspernatur expedita explicabo obcaecati.</p>
            <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam ab id expedita quae
                voluptatibus quisquam unde voluptatum libero recusandae sint tempore quis iure, aut deserunt vel! Fugit
                tempora, porro odit quia laboriosam ea sint aspernatur quasi ducimus laborum consectetur excepturi
                molestias facere nesciunt at maiores expedita sapiente blanditiis deserunt debitis asperiores est?
                Veniam, eveniet id perferendis corrupti tempora soluta. Cupiditate accusantium nemo porro ex voluptates
                itaque aspernatur? Quas unde modi asperiores adipisci, repudiandae ab ipsa iste qui quaerat, autem
                iusto, eos dignissimos? Facere dolorem nihil ipsum ad ab possimus voluptas.</p>
        </div>
        <div class="slider" id="a-slider">
        </div>
    </div>
    <div class="about__container">
        <img src="../assets/compass.svg" alt="Compass" class="about__compass-img">
        <div class="about__article">
            <h3 class="about__subtitle">Lorem ipsum dolor sit amet</h3>
            <p class="about__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum deserunt nostrum
                debitis odit iusto maiores reprehenderit eveniet a ipsam optio quo inventore praesentium doloremque,
                iste omnis aspernatur expedita explicabo obcaecati.</p>
                <h3 class="about__subtitle">Lorem ipsum dolor sit amet</h3>
                <p class="about__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum deserunt nostrum
                    debitis odit iusto maiores reprehenderit eveniet a ipsam optio quo inventore praesentium doloremque,
                    iste omnis aspernatur expedita explicabo obcaecati.</p>
        </div>
    </div>
</section>