<section class="crew" id="crew">
    <div class="crew__header">
        <h2 class="crew__title">Lorem ipsum <br><span class="highlight">dolor</span> sit amet<br> consectetur</h2>
        <div class="crew__filters">
            <button class="crew__filter-btn crew__filter-btn--active" id="all">Show all</button>
            <button class="crew__filter-btn" id="helmsman">Helmsman</button>
            <button class="crew__filter-btn" id="trim">Trim</button>
            <button class="crew__filter-btn" id="tactic">Tactic</button>
        </div>
    </div>
    <div class="crew__wrapper" id="crew-wrapper"></div>
    <button class="crew__load-btn" id="load-more">Load more</button>
</section>