<section class="modal" id="modal">
    <div class="modal__container">
        <button class="close-btn" id="close-modal">
            <span class="close-btn__bar"></span>
            <span class="close-btn__bar"></span>
        </button>
        <div class="modal__header">
            <div class="date-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 24" class="date-wrapper__icon">
                    <path d="M.563,9H20.438A.564.564,0,0,1,21,9.563V21.75A2.251,2.251,0,0,1,18.75,24H2.25A2.251,2.251,0,0,1,0,21.75V9.563A.564.564,0,0,1,.563,9ZM21,6.938V5.25A2.251,2.251,0,0,0,18.75,3H16.5V.563A.564.564,0,0,0,15.938,0H14.063A.564.564,0,0,0,13.5.563V3h-6V.563A.564.564,0,0,0,6.938,0H5.063A.564.564,0,0,0,4.5.563V3H2.25A2.251,2.251,0,0,0,0,5.25V6.938A.564.564,0,0,0,.563,7.5H20.438A.564.564,0,0,0,21,6.938Z"/>
                </svg>
                <h4 class="date-wrapper__date" id="m-date"></date>
            </div>
            <h2 class="modal__title" id="m-title"></h2>
            <h3 class="modal__subtitle" id="m-subtitle"></h3>
        </div>
        <article class="modal__article" id="m-article"></article>
        <div class="slider" id="m-slider"></div>
    </div>
</section>