html, body {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    background: none;
    border: none;
    outline: none;

    &:hover {
        cursor: pointer;
    }
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

li {
    list-style-type: none;
}